<footer class="l-footer">
    <ul class="l-footer-content">
        <li><a href="https://wisdomate.co.jp/privacypolicy" target="_blank">プライバシーポリシー</a></li>
        <li><a href="https://wisdomate.co.jp/company" target="_blank">会社概要</a></li>
    </ul>
</footer>