<header>
<div class="l-header">
<div class="l-header-inner">
<div class="l-header__logo">logo</div>
<div class="l-header__contents">
<a href="/" class="l-header__contents-link">content</a>
<a href="/" class="l-header__contents-link">content</a>
<a href="/" class="l-header__contents-link">content</a>
</div><!-- /.l-header__contents -->
</div><!-- /.l-header-inner -->
</div><!-- /.l-header -->
</header>