<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include('../common/inc/_header')%>

<section class="section">
<div class="section-inner">
<div class="m-headingType2">
<h2 class="m-headingType2__title">タイトルが入ります</h2>
</div><!-- /.m-heading-Type2 -->
</div><!-- section-inner -->
</section><!-- section -->

<%- include('../common/inc/_footer')%>
<script src="/main.js"></script>
</body>
</html>