@use '../_base/mixin' as mixin;
@use '../_base/variable' as variable;

.m-media {
    width: 100%;
    position: relative;

    img {
        width: 100%;
        display: block;
    }

    &-cta {
        position: absolute;
        bottom: 10px;
        width: 90%;
        margin: auto;
        inset-inline: 0;
        display: block;
        animation: pulsation 1.6s alternate infinite;
    }
}

@keyframes pulsation {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}