@use '../_base/mixin' as mixin;
@use '../_base/variable' as var;

.section {
    &-inner {
        max-width: 500px;
        width: 100%;
        margin: auto;
    }

    @include mixin.pc {
        &-inner {
            width: 100%;
        }
    }
}