<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>成果に直結する本質のAIセミナー AI副業で、人生を“逆転”する。</title>
<meta name="description" content="年商5.5億を達成したAIスクール「Wisdomate」が主催。未経験からでも始められる副業ノウハウを、3万人超が体験。今、AI副業の波に乗ることで、金銭的自由を手に入れる第一歩を踏み出しませんか？無料参加受付中。">
<link rel="stylesheet" href="./style.css">
</head>
<body>

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-01.jpg" alt="稼ぐ為の副業プラン、「AIのプロ」と一緒に作りませんか？90日後に+10万円を実現！ あなたに最適な”AI副業ロードマップ”を無料作成！" width="700" height="1328" loading="eager">

<a class="m-media-cta" href="https://liff.line.me/2007274902-Oq4oLlR3/landing?follow=%40331nnqud&lp=k3cnrP&liff_id=2007274902-Oq4oLlR3" target="_blank">
<img src="./images/top/CTA.png" alt="簡単2STEP 無料 今すぐロードマップ作成会を予約する" width="643" height="199" loading="eager">
</a>
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-02.jpg" alt="AI副業に特化したAIスクール「REBOOT:AI」はマンションの一室からAIを使って年商5.5億まで売り上げを伸ばした 株式会社Wisdomate CEO 高木直人 観衆のAIスクール" width="700" height="1201" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-03.jpg" alt="REBOOT:AIはこれまでに副業未経験者3,000人以上の支援実績 セミナー参加者数20,000名超え マネタイズ成功者1,000名以上 を誇る 実績と再現性に基づいた副業ロードマップを提供しています その成功ロジックを凝縮しあなた専用にカスタマイズするのがこのロードマップ作成会です" width="700" height="2666" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-04.jpg" alt="ロードマップ作成会に進んだ方の多くが これなら自分でもできそう と確信を持っていただけます AIの可能性に気づいた人はすでに副業に踏み出し先行者利益を手に入れつつあります 金銭的不安から解放されたい そんな人はまず「ロードマップ作成会」にご参加ください。あなたもAIを使いこなして最短90日で毎月+10万円を実現しませんか？" width="700" height="2846" loading="lazy">
<a class="m-media-cta" href="https://liff.line.me/2007274902-Oq4oLlR3/landing?follow=%40331nnqud&lp=k3cnrP&liff_id=2007274902-Oq4oLlR3" target="_blank">
<img src="./images/top/CTA.png" alt="簡単2STEP 無料 今すぐロードマップ作成会を予約する" width="643" height="199" loading="lazy">
</a>
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-04-a.jpg" alt="AIを使って副業で稼ぎたいけれど 01何から学べばいいのか分からない 02収益化の方法が分からず1円も稼げない 03成果が思うように出ずに挫折してしまう もしかするとあなたも今後この壁にぶつかるかもしれません" width="700" height="2846" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-05.jpg" alt="その原因は 01情報の流れが早すぎて個人で追うのは限界がある AIは流行り廃りが激しく、新しいツールや手法が次々登場します。そのため、AIに強い専門家のサポートや、最新情報を得られるコミュニティに属していないと、すぐに時代に取り残されてしまいます。02SNSの情報を鵜呑みにしても稼げない SNSで見かける「簡単に稼げる方法」は、多くが誤解を招く内容や、一部の人だけがうまくいったケースです。再現性のある正しい情報に基づいて行動しなければ収益には繋がりません。03AIを使えても仕事を得られず稼げない AIのスキルがあってもそれを収益化に繋げるには「受注の仕方」や「行動戦略」が必要です。単に努力するだけでなく正しい方向に正しい努力をすることが大切です。" width="700" height="6241" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-06.jpg" alt="AIを使って副収入で月に+10万円を稼ぎたい フリーランスとして自由に働きたい そんな方はぜひ、個別ロードマップ作成会に参加してみてください" width="700" height="1732" loading="lazy">
<a class="m-media-cta" href="https://liff.line.me/2007274902-Oq4oLlR3/landing?follow=%40331nnqud&lp=k3cnrP&liff_id=2007274902-Oq4oLlR3" target="_blank">
<img src="./images/top/CTA.png" alt="簡単2STEP 無料 今すぐロードマップ作成会を予約する" width="643" height="199" loading="lazy">
</a>
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-07.jpg" alt="本質AI副業ロードマップ作成会に参加するだけであなたは90日で収益化するための”設計図”が手に入ります！01 あなたの状況に合ったAI副業ジャンル診断 年齢・経験・ライフスタイルに最適な稼ぎ方を提案 02 最短90日で収益化を目指す実効プラン設計 何を、いつどれくらいやればいいかが明確に 03 SNSやYouTubeでは絶対に得られない情報提供 実践者が現場で使う有料級ノウハウを無料で提供！" width="700" height="3898" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-08.jpg" alt="個別ロードマップ作成会参加後に人生が変わった方がたくさんいるんです！ 20代IT業 AIライティングで月収40万突破！ 40代主婦 たった2週間で4万円達成！ 50代会社員 働きながら3か月で12万円達成！ 30代建設業 AIライティングで月収40万円突破！ ※写真は全てイメージです" width="700" height="2757" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/img-09.jpg" alt="なぜ本質AI副業ロードマップ作成会がここまで支持されているのか その理由は株式会社wisdomateが運営するAI副業特化スクール REBOOT:AIで数千人以上の相談・指導を通じて蓄積された「現場のリアル」と「再現性ある戦略」をもとに設計されているからなんです。REBOOT:AIが圧倒的に選ばれている理由 セミナー参加者数20,000人以上の実績 本業+10万円の副業成功者1,000人以上排出！ 再現性あるマネタイズ戦略を独自に体系化 常に最新のAIトレンドツールを反映した実践型カリキュラム ただ学ぶだけでは稼げません 大切なのは「あなたにとっての最短ルートを見つけること」この個別ロードマップ作成会はあなたが迷わず進むための”地図”を提供します" width="700" height="2552" loading="lazy">
</div>

<div class="m-media">
<img src="./images/top/img-10.jpg" alt="本質AI副業個別ロードマップ作成会 参加者さまの声 01 青柳さん（30代）半年でフリーランスとして独立 新卒からずっと同じ会社に勤めていましたが「このままで、自分の人生は本当にいいのだろうか？」と思っていた時にこのセミナーに出会いました。個別相談参加後にAI副業を始めてからは1ヶ月目は3万円 2ヶ月目は10万円 そして半年後には本業の収入を超えフリーランスとして独立することができました。 会社に搾取されるだけの日々から時間や場所に縛られない働き方を実現 ※写真はイメージです ※効果には個人差があります 02 富永さん（40代）1ヶ月で12万円のマネタイズに成功！ 特別なスキルもなく再就職は難しいと諦めていました。ですがこの個別相談参加後に自分と同じ主婦の方でも稼いでいると知りAI副業を始めることにしました。今では企業のサポートをしながら毎月10万円前後のマネタイズができています 社会から取り残されているような焦りから社会と繋がり必要とされている実感を持てた ※写真はイメージです ※効果には個人差があります  03 山口さん（50代）1年間安定して20万円のマネタイズを継続中！ 定年が近づくにつれ、この先の収入や、AIのような新しい技術についていけないであろう自分に強烈な不安を抱いていました。半信半疑で参加した個別相談ですが話を聞いていると自分の武器は「AIスキル」と「これまでのビジネス経験」を掛け合わせることだと気づかされました。今では長年携わっていた業界のAIコンサルタントとして月に安定した収入を得ることができています。 定年後の貯金や働き方に漠然とした不安から金銭的不安もなくなり生涯現役でいられるという確信に！ ※写真はイメージです ※効果には個人差があります" width="700" height="2575" loading="lazy">
</div>

<div class="m-media">
<img src="./images/top/img-11.jpg" alt="無料 本質AI副業ロードマップ作成会のご参加方法 01 日程選択 下の緑色のボタンを押すと日程表のページに遷移します ご都合の良い日程をお選びください 02 ロードマップ作成会を予約 予約完了後にオンラインミーティングアプリ「ZOOM」の参加URLが届きます 当日はそちらからご参加ください。" width="700" height="4355" loading="lazy">
<a class="m-media-cta" href="https://liff.line.me/2007274902-Oq4oLlR3/landing?follow=%40331nnqud&lp=k3cnrP&liff_id=2007274902-Oq4oLlR3" target="_blank">
<img src="./images/top/CTA.png" alt="簡単2STEP 無料 今すぐロードマップ作成会を予約する" width="643" height="199" loading="lazy">
</a>
</div>

</div><!-- section-inner -->
</section><!-- section -->

<%- include('./common/inc/_footer')%>
<script src="/main.js"></script>
</body>

</html>
