<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>成果に直結する本質のAIセミナー AI副業で、人生を“逆転”する。</title>
<meta name="description" content="年商5.5億を達成したAIスクール「Wisdomate」が主催。未経験からでも始められる副業ノウハウを、3万人超が体験。今、AI副業の波に乗ることで、金銭的自由を手に入れる第一歩を踏み出しませんか？無料参加受付中。">
<link rel="stylesheet" href="./style.css">
</head>
<body>

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/1.jpg" alt="REBOOT:AI 毎月+10万円の未来を90日で 本質AI副業セミナー 株式会社Wisdomate 高木 直人 セミナー参加者数20,000人 会社の外で稼ぐ力、身につけよう。" width="700" height="1294" loading="eager">

<a class="m-media-cta" href="https://liff.line.me/2007274902-Oq4oLlR3/landing?follow=%40331nnqud&lp=IjOFrA&liff_id=2007274902-Oq4oLlR3" target="_blank">
<img src="./images/top/CTA.png" alt="簡単3STEP 無料 公式LINEを追加して本質AI副業セミナーの日程を予約する" width="643" height="199" loading="eager">
</a>
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/2.jpg" alt="AI副業に特化したAIスクール「REBOOT:AI」はマンションの一室からAIを使って年商5.5億まで売り上げを伸ばした 株式会社Wisdomate CEO 高木直人 観衆のAIスクール セミナー参加者数驚異の20,000人越え AIの可能性に気づいている人はすでにAI副業を始め先行者利益を得ています AI副業で金銭的な不安から解放されたい人は今すぐ本質AI副業セミナーに参加してみてください！ あなたもAIを使いこなして最短90日で毎月+10万円を実現しませんか？" width="700" height="2466" loading="lazy">
<a class="m-media-cta" href="https://liff.line.me/2007274902-Oq4oLlR3/landing?follow=%40331nnqud&lp=IjOFrA&liff_id=2007274902-Oq4oLlR3" target="_blank">
<img src="./images/top/CTA.png" alt="簡単3STEP 無料 公式LINEを追加して本質AI副業セミナーの日程を予約する" width="643" height="199" loading="lazy">
</a>
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/3.jpg" alt="セミナー参加者限定で無料プレゼント中 今なら、AI副業で使える豪華6大特典 Present 01 小学生でもわかるChatGPTの始め方ガイドブック 02 ChatGPTプロンプト50選 03 今日から稼げるAI副業大全 04 無料で使えるおすすめGPTs 30選 05 完全未経験から始めるAI画像生成0→1完全攻略 06 特別案内1対1コンサル1回無料ご招待券 AIを使って副業で稼ぎたいけど… 情報が多すぎて何から学べば良いのかわからない 収益化の方法が分からず1円も稼げない 成果が思うように出ずに挫折してしまう って人が沢山いるんです もしかするとあなたも今後この壁にぶつかるかもしれません…" width="700" height="1294" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/4.jpg" alt="その原因は Reasons Reason1 情報の流れが早すぎて個人で追うのは限界がある AIは流行り廃りが激しく、新しいツールや手法が次々登場します。そのため、AIに強い専門家のサポートや、最新情報を得られるコミュニティに属していないと、すぐに時代に取り残されてしまいます。 Reason2 SNSの情報を鵜吞みにしても稼げない SNSで見かける「簡単に稼げる方法」は、多くが誤解を招く内容や、一部の人だけがうまくいったケースです。再現性のある正しい情報に基づいて行動しなければ収益には繋がりません。 Reason3 AIを使えても仕事を得られず稼げない AIのスキルがあっても、それを収益化につなげるには「受注の仕方」や「行動戦略」が必要です。単に努力するだけでなく、正しい方向に正しい努力をすることが大切です。" width="700" height="1294" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/5.jpg" alt="AIを使って副収入で月に+10万円を稼ぎたい フリーランスとして自由に働きたい そんな人は是非、本質AI副業セミナーに参加してみてください！ Seminar 本質AI副業セミナーに参加するだけであなたも90日後には10万円のマネタイズを目指せます！ point01 AIの最新情報やAI副業について AIの変遷からAIの使い方など、AIにまつわる最新情報を知ることで、AI副業に関する解像度が大幅にUP！ SNSやYouTubeにはない有料級の情報を無料で知ることができます！ point02 AI時代をハックするための3つの思考法 マネタイズまで最低90日はかかると言われているAI副業。その途中で挫折してしまう人が多い中、マネタイズまで挫折しない思考法を伝授！ point03 初心者でも稼げるAI副業のジャンルと始め方 AI初心者にオススメで競合の少ない穴場ジャンルなどをはじめ、最短でマネタイズをするためのAI副業の始め方や実際にどうやって稼ぐのかをAIのプロが一挙ご紹介！ セミナーに参加後に人生が変わった人がたくさんいるんです！ 20代IT業 AIライティングで月収40万突破！ 40代主婦 初めての副業なのにたった2週間で4万円達成！ 50代会社員 働きながら3か月で12万円達成！ 30代建設業 副業開始1ヶ月で20万円達成！" width="700" height="1294" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/6.jpg" alt="なぜ、こんなに成果を出している人がたくさんいるのか？ Why? その秘密はAI副業からスタートし年商5.5億を達成した高木直人が運営するオンラインAI副業スクール REBOOT:AIで培った セミナー参加者数20,000人以上の実績、副業未経験者3,000人以上のサポート実績、現場の成功事例 失敗事例のノウハウ を凝縮したセミナーの内容だから！ REBOOT:AIでは本業+10万円稼ぐ人やフリーランスとして独立した人などすでに1,000名以上がAI副業でマネタイズに成功しているんです！" width="700" height="1294" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/7.jpg" alt="そんなセミナーの講師を務めるのはAIを駆使し年商5.5億を達成した株式会社Wisdomate代表の高木直人が直々に登壇！ 今では、素晴らしい仲間と事業をしていますが、最初から順風満帆だったわけではありません。 フリーランス1年目は1円も稼げず、自分には才能も運もないと悲観していました。でも今思えば、才能なんて1ミリも必要ありませんでした。成功している人の共通点は、「人に頼るのが上手」なこと。情報が溢れるなかでも結果を出せたのはAIにうまく仕事を任せていたから。まずは、AIの正しい情報と、副業で挫折せず最短で成果を出す方法をお伝えします。絶対に損はさせません。セミナーでお会いしましょう。 高木直人" width="700" height="1294" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/8.jpg" alt="本質AI副業セミナー参加者さまの声 Voice 01 青柳さん（30代）半年でフリーランスとして独立 会社に搾取されるだけの日々から時間や場所に縛られない働き方を実現 新卒からずっと同じ会社に勤めていましたが「このままで、自分の人生は本当にいいのだろうか？」と思っていた時にこのセミナーに出会いました。セミナー参加後にAI副業を始めてからは1ヶ月目は3万円 2ヶ月目は10万円 そして半年後には本業の収入を超えフリーランスとして独立することができました。 ※写真はイメージです ※効果には個人差があります 02 富永さん（40代）1ヶ月で12万円のマネタイズに成功！ 社会から取り残されているような焦りから社会と繋がり必要とされている実感を持てた 特別なスキルもなく再就職は難しいと諦めていました。ですがこの本質AI副業セミナー参加後に自分と同じ主婦の方でも稼いでいると知りAI副業を始めることにしました。今では企業のサポートをしながら毎月10万円前後のマネタイズができています ※写真はイメージです ※効果には個人差があります  03 山口さん（50代）1年間安定して20万円のマネタイズを継続中！ 定年後の貯金や働き方に漠然とした不安から金銭的不安もなくなり生涯現役でいられるという確信に！ 定年が近づくにつれ、この先の収入や、AIのような新しい技術についていけないであろう自分に強烈な不安を抱いていました。半信半疑で参加したセミナーですが話を聞いていると自分の武器は「AIスキル」と「これまでのビジネス経験」を掛け合わせることだと気づかされました。今では長年携わっていた業界のAIコンサルタントとして月に安定した収入を得ることができています。※写真はイメージです ※効果には個人差があります " width="700" height="1294" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<section class="section">
<div class="section-inner">
<div class="m-media">
<img src="./images/top/9.jpg" alt="無料 本質AI副業セミナーのご参加方法 STEP01 公式LINEを追加 セミナーの内容についてご興味がございましたらまずは下のボタンから公式LINEの追加をお願いします。STEP02 日程選択 公式LINE追加後にセミナーのご案内メッセージが届きます。日程表から参加できる日時をご選択ください。STEP03 無料セミナーを予約 予約完了後にオンラインミーティングアプリ「ZOOM」の参加URLが届きますので当日はそちらからご参加ください。" width="1050" height="2680" loading="lazy">
<a class="m-media-cta" href="https://liff.line.me/2007274902-Oq4oLlR3/landing?follow=%40331nnqud&lp=IjOFrA&liff_id=2007274902-Oq4oLlR3" target="_blank">
<img src="./images/top/CTA.png" alt="簡単3STEP 無料 公式LINEを追加して本質AI副業セミナーの日程を予約する" width="643" height="199" loading="lazy">
</a>
</div>

<div class="m-media">
<img src="./images/top/10.jpg" alt="セミナー参加者限定で無料プレゼント中 今なら、AI副業で使える豪華6大特典 Present 01 小学生でもわかるChatGPTの始め方ガイドブック 02 ChatGPTプロンプト50選 03 今日から稼げるAI副業大全 04 無料で使えるおすすめGPTs 05 完全未経験から始めるAI画像生成0→1完全攻略 06 特別案内1対1コンサル1回無料ご招待券" width="1050" height="3683" loading="lazy">
</div>
</div><!-- section-inner -->
</section><!-- section -->

<%- include('./common/inc/_footer')%>
<script src="/main.js"></script>
</body>

</html>
